services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - .env
    environment:
      APP_ENV: dev
      APP_DEBUG: true

  web:
    image: nginx:alpine
    ports:
      - "8080:80"
      - "9443:443"
    env_file:
      - .env
    volumes:
      - ./app:/var/www/html/app
      - ./docker/nginx.conf:/etc/nginx/templates/default.conf.template
      - ./docker/certs:/etc/nginx/certs
